input[name="page-length-option_length"] {
    display: block !important;
    border: solid black 1px !important;
}

th,
td {
    text-align: center;
    border: 1px black solid;
    padding: 8px;
}

th {
    color: #2667ff;
}

td {
    color: #2667ff;
}

input {
    color: #2667ff !important;
    border: 1px black solid!important;
    background: #2667ff1c!important;
    border-radius: 1rem!important;
    padding-left: 23px!important;
    margin-right: 20px!important;
}

textarea {
    color: #2667ff !important;
    border: 1px black solid!important;
    background: #2667ff1c!important;
    border-radius: 1rem!important;
    padding-left: 23px!important;
    margin-right: 20px!important;
}

.br-1 {
    border-radius: 1rem!important;
}

img {
    max-width: 280px;
    margin-top: 10px;
}

.fileupload {
    padding: 10px;
    margin: 10px 0 0 40px;
}

label {
    color: #2667ff !important;
    margin-left: 12px !important;
}

select {
    color: #2667ff !important;
}

.heading {
    font-weight: bold;
    color: #2667ff;
    text-transform: uppercase;
    font-family: auto;
    font-size: x-large;
    margin: 20px 0 15px 40px;
    text-decoration-line: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2667ff;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #2667ff;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #2667ff;
}

.edit {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #d98324 74%);
    color: black;
}

.delete {
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    color: black;
}

.submit {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    color: black;
}

.submit-1 {
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    color: black;
}

.sidenav .navigation-header .navigation-header-text {
    font-size: .85rem;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 !important;
    color: #515aa5 !important;
}

.sidenav .navigation-header .navigation-header-text:hover {
    background-color: transparent !important;
}

.red1 {
    color: #f99f24!important;
}

.black {
    background-color: #0f0d0d!important;
}

.scrollbar {
    margin-left: 23px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-right: 10px;
    max-height: 390px;
}


/* 
.force-overflow {
  min-height: 150px;
}
.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
 
  border-radius: 10px; }

.scrollbar-morpheus-den::-webkit-scrollbar {  
  width: 12px; }

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2667ff ), to(#f99f24));
  background-image: -webkit-linear-gradient(bottom, #2667ff 0%, #f99f24 100%);
  background-image: linear-gradient(to top, #2667ff 0%, #f99f24 100%); }

.scrollbar-morpheus-den {
  scrollbar-color: #f99f24 ;
  }

   */

.grade {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #f99f24 74%);
}

.collapsible-body {
    color: #ffffff !important;
}

.card-title {
    background-color: #f99f24;
    padding: 12px;
    margin: -24px 0 24px -24px!important;
    width: 200%;
    color: #ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2667ff !important;
    margin: 0 0 10px 20px;
}

.discrip {
    height: 165px;
    font-size: 20px;
    resize: none;
    padding-top: 10px;
}

.blog {
    height: 285px;
    font-size: 20px;
    resize: none;
    padding-top: 10px;
}

.normalheading {
    background-color: #f99f24;
    padding: 12px;
    border-radius: 1rem;
    text-align: center;
    color: #ffffff !important
}

.sidee {
    background-color: #2B2B52;
}